body {
  background: #157af6;
  margin: 0 auto;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: small;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  position: absolute;
  padding: 10px 300px 100px 300px;
}

h1 {
  padding: 10px;
  font-size: 25px;
  background-color: #e3e4fd;
  border-radius: 7px;
}

h2 {
  font-size: 25px;
}

h3,
#day,
#month,
#year,
#hour,
#minute {
  font-size: 18px;
  color: grey;
}

h4 {
  font-size: small;
}

p {
  color: grey;
}

.btn {
  margin: 10px;
  width: 206px;
  text-align: center;
  display: inline-block;
}

div.col {
  padding: 12px;
  text-align: left;
}

.card {
  padding: 20px;
  border-radius: 20px;
  max-width: 500px;
  max-height: 900px;
}

a {
  color: #0f57af;
  text-decoration-color: #0f57af;
  margin-top: 5px;
}

.text-group {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.2rem 0;
}
